header{
    position: relative;
    background: #F4F4F4;
}
nav{
    position: relative;
}
.hamburger{
    display: none;
}

.menu{
    margin-top: 24px;
    display: flex;
    justify-content: space-between;
    &__logo{
        &:hover{
            .logo-main{
                fill: $main-color;
            }
        }
    }
    &__list{
        margin-top: 18px;
        display: flex;
        gap: 60px;
        list-style: none;
    }
    &__link{
        @extend %text_link;
        transition: all .1s;
        &:hover{
            color: $main-color;
            text-decoration: none;
        }
    }
    &__call{
        margin-top: 18px;
        @extend %text_link;
        font-weight: 700;
        transition: all .1s;
        &:hover{
            text-decoration: none;
            color: $main-color;
        }
    }
}
.logo-main{
    transition: all .1s;
}